# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://aukqtzllffedrsjpsbof.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1a3F0emxsZmZlZHJzanBzYm9mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxOTY4MDQsImV4cCI6MjA4OTc3MjgwNH0.O6LGcozOel7N9Lg9RJnVZcafBxcgpULLdHtPZokjNCs
